In [1]:
2 + 2

4

In [2]:
print("hello world")

hello world

In [3]:
book_title = "Harry Potter"

In [4]:
book_title

'Harry Potter'

In [5]:
print (book_title)

Harry Potter

In [6]:
year = 1997
print (year)

1997

In [7]:
price = 19.95

In [8]:
type(price)

float

In [9]:
year = 1997
price = 19.95
title = "Harry Potter"
not_a_number = "145"

In [10]:
year + price

2016.95

In [11]:
year + title

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
year + not_a_number

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
3 > 4

False

In [15]:
9 > 6

True

In [16]:
numbers = [1, 2, 3]

In [17]:
for number in numbers:
    print (number)

1
2
3

In [21]:
for number in numbers:
    double = number * 2
    print(double)
print("Zahlen multipliziert")

2
4
6
Zahlen multipliziert

In [22]:
len(numbers)

3

In [23]:
authors = ["Darwin", "Hawking", "Feynman", "Jemison"]

In [24]:
len(authors)

4

In [25]:
authors[3]

'Jemison'

In [26]:
author[0]

NameError: name 'author' is not defined

In [27]:
authors[0]

'Darwin'

In [28]:
authors[-1]

'Jemison'

In [29]:
title

'Harry Potter'

In [30]:
title [2]

'r'

In [31]:
title [0:5]

'Harry'

In [32]:
title [5: ]

' Potter'

In [34]:
authors_and_books = {"Jemison" : "Wind", "Darwin" : "Species", "Hawing" : "Universe"}

In [35]:
authors_and_books["Jemison"]

'Wind'

# Wetterbericht
der folgende Code erklärte das **Wetter**

In [42]:
#das ist ein Kommentar
temp = 11
if temp >= 15:
    print("it´s warm")
elif temp < 5:
    print("it´s cold")
else:
    print("it´s mild")

it´s mild

In [44]:
author =  "Darwin"

In [45]:
author.upper ()

'DARWIN'